@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-DemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
:root {
  --font: Visby Round CF;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
