@font-face {
  font-family: "Visby Round CF";
  src: url(".fonts/VisbyRoundCF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

:root {
  --font: Visby Round CF;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
